In [1]:
import pandas as pd
from apyori import apriori

In [2]:
# pip install apyori

In [3]:
data = pd.read_csv('Groceries_dataset.csv')
data

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [4]:
data.shape

(38765, 3)

In [5]:
data.isnull().sum()

Member_number      0
Date               0
itemDescription    0
dtype: int64

In [6]:
data['itemDescription'].unique()

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter',
       'chicken', 'butter', 'fruit/vegetable juice',
       'packaged fruit/vegetables', 'chocolate', 'specialty bar',
       'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread',
       'hamburger meat', 'root vegetables', 'pork', 'pastry',
       'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham',
       'turkey', 'curd cheese', 'red/blush wine',
       'frozen potato products', 'flour', 'sugar', 'frozen meals',
       'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish',
       'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn',
       'finished products', 'beverages', 'bottled beer', 'dessert',
       'dog food', 'specialty chocolate', 'condensed milk', 'cleaner',
       'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese ',
       'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk',
       'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs',
       'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream',
       'frozen vegetables', 'sliced cheese', 'dish cleaner',
       'baking powder', 'specialty cheese', 'salty snack',
       'Instant food products', 'pet care', 'white bread',
       'female sanitary products', 'cling film/bags', 'soap',
       'frozen chicken', 'house keeping products', 'spread cheese',
       'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes',
       'potato products', 'frozen fish', 'hygiene articles',
       'artif. sweetener', 'light bulbs', 'canned vegetables',
       'chewing gum', 'canned fish', 'cookware', 'semi-finished bread',
       'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf',
       'zwieback', 'canned fruit', 'frozen fruits', 'brandy',
       'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum',
       'chocolate marshmallow', 'long life bakery product', 'bags',
       'sweet spreads', 'soups', 'mustard', 'specialty fat',
       'instant coffee', 'snack products', 'organic sausage',
       'soft cheese', 'mayonnaise', 'dental care', 'roll products ',
       'kitchen towels', 'flower soil/fertilizer', 'cereals',
       'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky',
       'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur',
       'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care',
       'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener',
       'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil',
       'flower (seeds)', 'rice', 'tea', 'salad dressing',
       'specialty vegetables', 'pudding powder', 'ready soups',
       'make up remover', 'toilet cleaner', 'preservation products'],
      dtype=object)

In [7]:
one_hot = pd.get_dummies(data['itemDescription'], dtype='int')
data = data.join(one_hot)
data.head()

,Member_number,Date,itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,1808,21-07-2015,tropical fruit,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2552,05-01-2015,whole milk,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2300,19-09-2015,pip fruit,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1187,12-12-2015,other vegetables,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3037,01-02-2015,whole milk,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
products = data['itemDescription'].unique()
products

array(['tropical fruit', 'whole milk', 'pip fruit', 'other vegetables',
       'rolls/buns', 'pot plants', 'citrus fruit', 'beef', 'frankfurter',
       'chicken', 'butter', 'fruit/vegetable juice',
       'packaged fruit/vegetables', 'chocolate', 'specialty bar',
       'butter milk', 'bottled water', 'yogurt', 'sausage', 'brown bread',
       'hamburger meat', 'root vegetables', 'pork', 'pastry',
       'canned beer', 'berries', 'coffee', 'misc. beverages', 'ham',
       'turkey', 'curd cheese', 'red/blush wine',
       'frozen potato products', 'flour', 'sugar', 'frozen meals',
       'herbs', 'soda', 'detergent', 'grapes', 'processed cheese', 'fish',
       'sparkling wine', 'newspapers', 'curd', 'pasta', 'popcorn',
       'finished products', 'beverages', 'bottled beer', 'dessert',
       'dog food', 'specialty chocolate', 'condensed milk', 'cleaner',
       'white wine', 'meat', 'ice cream', 'hard cheese', 'cream cheese ',
       'liquor', 'pickled vegetables', 'liquor (appetizer)', 'UHT-milk',
       'candy', 'onions', 'hair spray', 'photo/film', 'domestic eggs',
       'margarine', 'shopping bags', 'salt', 'oil', 'whipped/sour cream',
       'frozen vegetables', 'sliced cheese', 'dish cleaner',
       'baking powder', 'specialty cheese', 'salty snack',
       'Instant food products', 'pet care', 'white bread',
       'female sanitary products', 'cling film/bags', 'soap',
       'frozen chicken', 'house keeping products', 'spread cheese',
       'decalcifier', 'frozen dessert', 'vinegar', 'nuts/prunes',
       'potato products', 'frozen fish', 'hygiene articles',
       'artif. sweetener', 'light bulbs', 'canned vegetables',
       'chewing gum', 'canned fish', 'cookware', 'semi-finished bread',
       'cat food', 'bathroom cleaner', 'prosecco', 'liver loaf',
       'zwieback', 'canned fruit', 'frozen fruits', 'brandy',
       'baby cosmetics', 'spices', 'napkins', 'waffles', 'sauces', 'rum',
       'chocolate marshmallow', 'long life bakery product', 'bags',
       'sweet spreads', 'soups', 'mustard', 'specialty fat',
       'instant coffee', 'snack products', 'organic sausage',
       'soft cheese', 'mayonnaise', 'dental care', 'roll products ',
       'kitchen towels', 'flower soil/fertilizer', 'cereals',
       'meat spreads', 'dishes', 'male cosmetics', 'candles', 'whisky',
       'tidbits', 'cooking chocolate', 'seasonal products', 'liqueur',
       'abrasive cleaner', 'syrup', 'ketchup', 'cream', 'skin care',
       'rubbing alcohol', 'nut snack', 'cocoa drinks', 'softener',
       'organic products', 'cake bar', 'honey', 'jam', 'kitchen utensil',
       'flower (seeds)', 'rice', 'tea', 'salad dressing',
       'specialty vegetables', 'pudding powder', 'ready soups',
       'make up remover', 'toilet cleaner', 'preservation products'],
      dtype=object)

In [9]:
data = data.drop('itemDescription', axis=1)

In [10]:
data

,Member_number,Date,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,1808,21-07-2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2552,05-01-2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2300,19-09-2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1187,12-12-2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3037,01-02-2015,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38760,4471,08-10-2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38761,2022,23-02-2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38762,1097,16-04-2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38763,1510,03-12-2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
38764,1521,26-12-2014,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
records = data.groupby(['Member_number', 'Date'])[products[:]].apply(sum)
records

                          tropical fruit  whole milk  pip fruit  \
Member_number Date
1000          15-03-2015               0           1          0
              24-06-2014               0           1          0
              24-07-2015               0           0          0
              25-11-2015               0           0          0
              27-05-2015               0           0          0
...                                  ...         ...        ...
4999          24-01-2015               1           0          0
              26-12-2015               0           0          0
5000          09-03-2014               0           0          0
              10-02-2015               0           0          0
              16-11-2014               0           0          0

                          other vegetables  rolls/buns  pot plants  \
Member_number Date
1000          15-03-2015                 0           0           0
              24-06-2014                 0           0           0
              24-07-2015                 0           0           0
              25-11-2015                 0           0           0
              27-05-2015                 0           0           0
...                                    ...         ...         ...
4999          24-01-2015                 1           0           0
              26-12-2015                 0           0           0
5000          09-03-2014                 0           0           0
              10-02-2015                 0           0           0
              16-11-2014                 1           0           0

                          citrus fruit  beef  frankfurter  chicken  ...  \
Member_number Date                                                  ...
1000          15-03-2015             0     0            0        0  ...
              24-06-2014             0     0            0        0  ...
              24-07-2015             0     0            0        0  ...
              25-11-2015             0     0            0        0  ...
              27-05-2015             0     0            0        0  ...
...                                ...   ...          ...      ...  ...
4999          24-01-2015             0     0            0        0  ...
              26-12-2015             0     0            0        0  ...
5000          09-03-2014             0     0            0        0  ...
              10-02-2015             0     0            0        0  ...
              16-11-2014             0     0            0        0  ...

                          flower (seeds)  rice  tea  salad dressing  \
Member_number Date
1000          15-03-2015               0     0    0               0
              24-06-2014               0     0    0               0
              24-07-2015               0     0    0               0
              25-11-2015               0     0    0               0
              27-05-2015               0     0    0               0
...                                  ...   ...  ...             ...
4999          24-01-2015               0     0    0               0
              26-12-2015               0     0    0               0
5000          09-03-2014               0     0    0               0
              10-02-2015               0     0    0               0
              16-11-2014               0     0    0               0

                          specialty vegetables  pudding powder  ready soups  \
Member_number Date
1000          15-03-2015                     0               0            0
              24-06-2014                     0               0            0
              24-07-2015                     0               0            0
              25-11-2015                     0               0            0
              27-05-2015                     0               0            0
...                                        ...             ...          ...
4999          24-01-2015                     0               0            0
              26-12-2015                     0               0            0
5000          09-03-2014                     0               0            0
              10-02-2015                     0               0            0
              16-11-2014                     0               0            0

                          make up remover  toilet cleaner  \
Member_number Date
1000          15-03-2015                0               0
              24-06-2014                0               0
              24-07-2015                0               0
              25-11-2015                0               0
              27-05-2015                0               0
...                                   ...             ...
4999          24-01-2015                0               0
              26-12-2015                0               0
5000          09-03-2014                0               0
              10-02-2015                0               0
              16-11-2014                0               0

                          preservation products
Member_number Date
1000          15-03-2015                      0
              24-06-2014                      0
              24-07-2015                      0
              25-11-2015                      0
              27-05-2015                      0
...                                         ...
4999          24-01-2015                      0
              26-12-2015                      0
5000          09-03-2014                      0
              10-02-2015                      0
              16-11-2014                      0

[14963 rows x 167 columns]

In [20]:
def get_product_names(p):
    for product in products:
        if p[product] > 0:
            p[product] = product
    return p
records = records.apply(get_product_names, axis = 1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
records

In [ ]:
records.values

In [ ]:
# Removing zeros

transactions = records.values
trans = []
for i in transactions:
    trans.append(i[i!=0].tolist())
trans

In [ ]:
rules = apriori(trans, min_support=0.0003, min_confidence=0.05, min_lift=3, min_length=2)

In [ ]:
rules = pd.DataFrame(rules)

In [ ]:
rules

In [ ]:
rules['ordered_statistics'][1]